.app {
  min-width: 100vw;
  min-height: 100vh;
  text-align: center;

  .flex-row {
    align-content: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: 1s;

    &.room1 {
      @media (max-width: 719px) {
        transform: translateX(-100%);
      }
    }

    &.room2 {
      @media (max-width: 719px) {
        transform: translateX(-200%);
      }
    }

    .mobile-full-screen {
      @media (max-width: 719px) {
        min-width: 100%;
      }
    }
  }

  .direction {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 16px;

    @media (max-width: 719px) {
      display: block;
    }

    &.left {
      left: 16px;
    }

    &.right {
      right: 16px;
    }

    &.disabled {
      cursor: not-allowed;
      opacity: 0.24;
    }
  }
}
