.story {
  border: 1px solid rgba(0, 0, 0, 0.24);
  height: calc(100vh - 72px);
  margin: 16px;
  max-height: calc(100vh - 72px);
  min-height: 300px;
  overflow: hidden;
  padding: 16px;
  position: relative;
  text-align: left;
  width: 300px;

  @media (max-width: 719px) {
    width: calc(100% - 32px);
  }

  .text {
    font-size: 14px;
    margin: 16px 0 0 0;
  }

  .gradient {
    background: linear-gradient(transparent, #fff);
    bottom: 0;
    height: 75px;
    left: 0;
    position: absolute;
    width: 100%;
  }
}
