.room1 {
  position: relative;

  .flex-row {
    display: flex;
    flex-direction: row;
  }

  .button {
    border: 1px solid #000;
    cursor: pointer;
    margin: 8px;
    padding: 8px;
    position: relative;
    text-align: center;
    width: 120px;

    &.disabled {
      cursor: not-allowed;
    }

    .progress {
      background: rgba(0, 0, 0, 0.24);
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 0;
    }
  }
}
