<div class="buttons-container">
  <div>
    <div>Heal</div>
    <app-diagnose-button [deactivate]="deactivate" (activation)="deactivate=$event"></app-diagnose-button>
    <app-treat-button [deactivate]="deactivate" (activation)="deactivate=$event"></app-treat-button>
    <!-- <app-process-button></app-process-button> -->
    <!-- <app-crisis-button></app-crisis-button> -->
  </div>
  <!-- <div>
    <div>Expansion</div>
    <app-bed-button></app-bed-button>
    <app-surgery-button></app-surgery-button>
    <app-wing-button></app-wing-button>
  </div>
  <div>
    <div>Employees</div>
    <app-administrator-button></app-administrator-button>
    <app-er-doctor-button></app-er-doctor-button>
    <app-receptionist-button></app-receptionist-button>
    <app-specialist-button></app-specialist-button>
    <app-surgeon-button></app-surgeon-button>
  </div> -->
</div>
